// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    @include body-font;
}

a {
    color: $theme-primary;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

h1,
h2{
    @include heading-font;
    color: $theme-tertiary;
}

h3{
    @include body-font;
    color:$theme-primary;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color:$theme-tertiary;
}
h1{
    text-align:center;
    padding:80px 0;
}
section {
    h2 {
        font-size: 50px;
    }
}
button{
border:0;
background:transparent;
&:hover{
    cursor:pointer;
}
} 
@media screen and (max-width: $breakpoint) {
    body{
        padding-top:30px!important;
    }
}
