.cbp-so-section{
  background-color:#fff;
  height:100vh;
  display:flex;
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
  article, figure{
      width:50%;
      float:left;
      position:relative;
      img, h2{
        position: absolute;
        left:0;
        right:0;
        top:50%;
        transform:translateY(-50%);
      }
  }
  &.small{
    height:auto;
    padding:40px 0;
    figure{
      width:40%;
    }
    figure img{
      max-width:90%;
    }
    article{
      width:60%;
      h2{
        padding-left:0;
      }
      & p{
        padding:0;
      }
    }

    article{
      h2{
        position:relative;
        left:0;
        right:0;
        top:0;
        transform:translateY(0);

      }
    }
  }
  article > *{
    padding:60px;
  }
  img{
    max-width: 100%;
  }
  .cbp-so-side-left{
    text-align:right;
  }
}
.sticky{
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
}

@media screen and (max-width: $breakpoint) {
  .cbp-so-section{
    background-color: #fff;
    flex-direction: column;
    clear: both;
    justify-content: space-evenly;
    position:relative;
    &.small article, &.small figure, article, figure{
      width:100%;
      h2{
        font-size:30px;
        text-align:center;
      }
      img, h2{
        position: unset;
        top:0;
        transform:translateY(0);
      }
      & > * {
        padding: 10px;
      }
    }
  }
}