.bg-primary{
  background:$theme-primary;
}
.appview.pro{
    min-height:auto;
    position:relative;
    .item{
      position:relative;
    }
  .left,.right{padding:40px;}
  .left{
    width:40%;
    float:left;
    img{
      width:100%;
    }
  }
  .right{
    height:100%;
    position:absolute;
    top:0;
    bottom:0;
    width: 100%;
    padding-left: 40%;
    .text{    
      position:absolute;
      top:50%;
      transform:translateY(-50%);
      p{
        color:$theme-tertiary;
      }
    }
  }
}